---
import { getCollection } from "astro:content";
import { blueskyConfig } from "../../config";
let bsky = await getCollection("bsky");

const { blueskyIdentifier } = blueskyConfig;
const posts = bsky
	.filter((it) => it.data.author.handle === blueskyIdentifier)
	.filter((it) => it.data.record.reply === undefined)
	.sort(
		(a, b) =>
			new Date(b.data.indexedAt).getTime() -
			new Date(a.data.indexedAt).getTime(),
	);
---
{posts.length}

<hr>
<hr>
<hr>

{
	posts.map(post => (
			<br>
			<a href={`/bsky/${post.data.cid}/`}>{post.id}</a>
				<pre set:html={post.rendered.html} />
			<hr>
		)
	)
}
