---
import BlueskyShareButton from "../social-share/src/Bluesky.astro";
import EmailShareButton from "../social-share/src/Email.astro";
import FacebookShareButton from "../social-share/src/Facebook.astro";
import HackerNewsShareButton from "../social-share/src/HackerNews.astro";
import LinkedInShareButton from "../social-share/src/LinkedIn.astro";
import MediumShareButton from "../social-share/src/Medium.astro";
import RedditShareButton from "../social-share/src/Reddit.astro";
import ThreadsShareButton from "../social-share/src/Threads.astro";
import TwitterShareButton from "../social-share/src/Twitter.astro";
import WhatsAppShareButton from "../social-share/src/Whatsapp.astro";
import type ButtonProps from "../social-share/src/types";
import WidgetLayout from "./WidgetLayout.astro";

interface Props extends ButtonProps {
	// biome-ignore lint/complexity/noBannedTypes: <explanation>
	buttons?: Object[];
}

const DEFAULT_COMPONENTS = [
	BlueskyShareButton,
	EmailShareButton,
	FacebookShareButton,
	HackerNewsShareButton,
	LinkedInShareButton,
	MediumShareButton,
	RedditShareButton,
	ThreadsShareButton,
	TwitterShareButton,
	WhatsAppShareButton,
];

const {
	buttons = DEFAULT_COMPONENTS,
	url = Astro.request.url,
	title,
	description,
	via,
} = Astro.props;
---
<div class="card-base p-4 mb-4 relative w-full z-10">
	<WidgetLayout
		id="share-buttons"
		name="Share"
	>
		<div class="flex flex-row">
            {buttons.map((Button) => <div class="flex-grow"><Button url={url} description={description} via={via} title={title} class="inline-block transition link btn-card rounded-2xl w-[3.75rem] h-[3.75rem] px-4 flex items-center fill-white/75 rounded-lg h-10 w-10 active:scale-90" /></div>)}
		</div>
	</WidgetLayout>
</div>
