/* Example Styles */
:root {
  /* --hypraw-bg-color: hsla(0, 0%, 96%, 1); */
  --hypraw-border-radius: 0.5em;
  --hypraw-padding: 0.7em;
  --hypraw-copy-btn-bg: hsla(0, 0%, 88%, 1);
  --hypraw-copy-btn-hover-bg: hsla(0, 0%, 82%, 1);
  --hypraw-copy-btn-active-bg: hsla(0, 0%, 76%, 1);
}

.hypraw {
  position: relative;
}

.hypraw pre > code {
  display: block;
  overflow: auto;
  padding: var(--hypraw-padding);
  border-radius: var(--hypraw-border-radius);
  color: var(--hypraw-fg-color);
  /* background: var(--hypraw-bg-color); */
}

code.hypraw {
  padding: 0 0.3em;
  border-radius: 0.3em;
  /* color: var(--hypraw-fg-color); */
  /* background: var(--hypraw-bg-color); */
}

.hypraw .underline {
  text-decoration: underline;
}
